@import "~susy";
@import "../node_modules/d2-ui/scss/HeaderBar";
@import "../node_modules/d2-ui/scss/DataTable";

$left-bar-width: 256px;

html {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.app {
    padding-top: 3rem;
}

.left-bar {
    width: $left-bar-width;
    float: left;
    position: fixed;
    margin-top: 16px;
    bottom: 0;
    top: 0;
    left: 0;
    padding-top: 2rem;
}

.content-area {
    padding-left: 3rem;
    margin-left: $left-bar-width;
}
