@import "~susy";

$left-bar-width: 256px;

html {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body {
}

.left-bar {
    width: $left-bar-width;
    float: left;
    position: fixed;
    margin-top: -16px;
}

.content-area {
    padding-left: 16px;
    margin-left: $left-bar-width;
}
