{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": { "browser": true },
  "parser": "babel-eslint",
  "rules": {
    "complexity": [1, 5],
    "import/no-extraneous-dependencies": [
      "error", {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-prototype-builtins": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/prefer-es6-class": [1, "always"],
    "react/jsx-no-bind": [1, {
      "ignoreRefs": false,
      "allowArrowFunctions": false,
      "allowBind": false
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-unused-prop-types": [2, { "skipShapeProps": true }],
    "react/forbid-prop-types": [0]
  }
}
