language: node_js
node_js:
  - 10
cache:
    yarn: true
    directories:
        - node_modules
before_script:
  - yarn rebuild node-sass
script:
  - yarn lint
  - yarn build
deploy:
  - provider: script
    script: deploy-build
    skip_cleanup: npx --package @dhis2/deploy-build deploy-build d2-ci build/app
    on:
      all_branches: true
env:
  global:
    secure: Zam/mb7xjs7fvimVlK5L3Hvga2Pt4O/FfxLwRsJq/nfvHctCxj1fQ9iKbXfZm1ODDNRC1UHp+F/vUCU46oGe6uosoXc4VWTWzfUbxoslgTZUv7M5kcicmxeSw4eT1HpPQ0vqn1vwm3Zx+CR1GpoHlJMo8AWmVObM3Z1SgFdHuAzPjKjwGH/9/4WlDmjbjwu3S45xZJf8aSvu8q5c7ZfzZj8Uv8xgf2c/VsP5URBdDua9VGDvle66whjExlFcx6MUKhIUBb0BKswR3axsIk1uNzY+tveZ/QXLBwLUGWurihFlBNXq2zoAwRkzft94eXsK8WCQbGP3gIyHSzIO4MHIU73cwPUUjCVd/wsJRGHqdjsHq/lmEVWypILlpPuLKzTDMh5ULXL1v3gW7gx9sBYC4NqbvjmducN6f2EBY6HCdS6RSPRB36JicGfDBAUyscnDynVUzBqYDkmmHza21+tq7LyL1uf0XyGVEYJWu2keFtI9mPovReeVMGW8O2jHRvCSr5aZie8n3XInY4va28Gx+5Kr7MWM2JdtdiMZEcPcZWLHTKS0UA4SsIG8Phr5v8YVJvGhybV2fu3RbkWamwLiNNjkRsdkIdwBlU4KCmnV7J6VSdisoU3du3XHyOsyq4UMvo14vZEYr4tWKncsEXRvez+GRhU/W4kDuxjcfHZkB4g=
notifications:
  slack:
    secure: ROTYWbxHa48xePhTepBBxrGjBZ0CCu/tyQtjOnT4JFO8AXFTR8hwtFEIQ8UYXh5QXDbvCra/u951S4mtfR3vlyyEGzJmEZK8ASXTA/4ya29ewQ67GgmQfD7734obPvCzO+sizSVo9V4+DUKCkv+bgYUaCWcI8SbIio8v2wLQaSlcNZ29dcBSAb4CZ6iqa4hHWnpVcdri0iBC91ybUFSUVAOr7OqBJPM+tzjYD1sS7/K4Tvt26npz9hvdMRgbfyGt+NLjr0x1xDzNfCBuYLNXYEAjLpd8royA5zxKk3eSKPOlpOPTstHY59pHW2m8gnoBWKuKG3JofWmpCUG5ipduNz2qJ4aDCvV5ybVjtR5GgATUIpAKekHTTJ3/fuNv46VmVcbfvSFcVNX+Af0hjKXPVXSEvNyLX+GMeM8Y2bOx7zjizfMKkozCclVuTvrCaVOVSFKVxifWOnamCptKTGSr+oCsgbEXQ33gu3F3uVZ+mZooOuGn/rJ+tyoCvKqW9eON4aA36Oxo9ACkumkZXwhEh1k1x9IgKX/7amvqOzLgbKO6saKSEDnCnOHezWZBdbOOKZdvolaXRu2OxnVYiH2btm9fUfL1af3e30vWNlxjpNjQMoCFLfnXgYeO1nlOmfhm/PFrNFct6Kr770zmgGk+3AJOYWtt21e2RF37zx2nAQM=
    on_success: change
    on_failure: always
